@model IEnumerable<baitapltw.Models.Product>

@{
    ViewBag.Title = "Trang Chu";
}
@using System.Globalization;


<!-- Carousel  -->
<div class="carousel">
    <div class="carousel__content">
        <img id="imgcarousel" src="/Content/SanPham/assets/img/hinh1.jpg" alt="" />
    </div>
</div>
<!-- Booking -->
<div class="book">
    <div class="body">
        <!-- content 1 -->
        <div class="content">
            <i class="fa-brands fa-angrycreative logo-book"></i>
            <h3 class="title">CAM KẾT CHÍNH HÃNG</h3>
            <span class="heading">100 % Authentic </span>
            <p class="desc">
                Cam kết sản phẩm chính hãng từ Châu Âu, Châu Mỹ...
            </p>
        </div>

        <!-- content 2 -->
        <div class="content">
            <i class="fa-solid fa-truck-fast logo-book"></i>
            <h3 class="title">GIAO HÀNG HỎA TỐC</h3>
            <span class="heading">Express delivery</span>
            <p class="desc">SHIP hỏa tốc 1h nhận hàng trong nội thành HCM</p>
        </div>

        <!-- content 3 -->
        <div class="content">
            <i class="fa-solid fa-headphones-simple logo-book"></i>
            <h3 class="title">HỖ TRỢ 24/24</h3>
            <span class="heading">Supporting 24/24</span>
            <p class="desc">Gọi ngay</p>
        </div>
    </div>
</div>
<!-- Product new -->
<div id="NIKE" class="product">
    <div class="container">
        <div class="body">
            <!-- item 1 -->
            @foreach (var item in Model)
            {
                    <div class="course-item">
                        <a href="/Product/Details/@item.Id">
                            <img src="@item.FeatureImage" class="thumb" />
                        </a>
                        <div class="info">
                            <div class="head">@item.Title</div>
                            <div class="rating">
                                <i class="fa-solid fa-star" style="color: rgb(255, 195, 0)"></i>
                                <i class="fa-solid fa-star" style="color: rgb(255, 195, 0)"></i>
                                <i class="fa-solid fa-star" style="color: rgb(255, 195, 0)"></i>
                                <i class="fa-solid fa-star" style="color: rgb(255, 195, 0)"></i>
                                <i class="fa-solid fa-star" style="color: rgb(255, 195, 0)"></i>
                            </div>
                            <div class="price">@string.Format(new CultureInfo("vi-VN", false), "{0:c0}", item.Price)</div>
                            <div class="btn btn-buy"><a href="/Product/AddCart/@item.Id">Buy</a></div><a></a>
                        </div>
                    </div>
            }
        </div>
    </div>
</div>

