@model IEnumerable<baitapltw.Models.Product>

@{
    ViewBag.Title = "Trang Chu";
    Layout = "~/Views/Shared/_Layout_ShopGiay.cshtml";
}
@using System.Globalization;


<!-- Product new -->
<div id="NIKE" class="product">
    <div class="container">
        <div class="body">
            <!-- item 1 -->
            @foreach (var item in Model)
            {
                <div class="course-item">
                    <a href="/Product/Details/@item.Id">
                        <img src="@item.FeatureImage" class="thumb" />
                    </a>
                    <div class="info">
                        <div class="head">@item.Title</div>
                        <div class="rating">
                            <i class="fa-solid fa-star" style="color: rgb(255, 195, 0)"></i>
                            <i class="fa-solid fa-star" style="color: rgb(255, 195, 0)"></i>
                            <i class="fa-solid fa-star" style="color: rgb(255, 195, 0)"></i>
                            <i class="fa-solid fa-star" style="color: rgb(255, 195, 0)"></i>
                            <i class="fa-solid fa-star" style="color: rgb(255, 195, 0)"></i>
                        </div>
                        <div class="price">@string.Format(new CultureInfo("vi-VN", false), "{0:c0}", item.Price)</div>
                        <div class="btn btn-buy"><a href="/Product/AddCart/@item.Id">Buy</a></div><a></a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

